{% load static %}

<header class="bg-dark">
    <nav class="navbar container navbar-expand-lg navbar-dark bg-dark px-3 header">

        <!-- 🔥 همبرگری فقط برای موبایل -->
        <button class="navbar-toggler d-lg-none canvas-btn" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#mobileMenu">
            {#            <span class="navbar-toggler-icon"></span>#}
            <i class="fa-solid fa-bars"></i>
        </button>
        <!-- LOGO -->
        <div class="">
            <a class="navbar-brand nav-hover d-block m-0" href="{% url 'home' %}">
                <img src="{% static 'logo/logo.png' %}" width="80" alt="">
            </a>
        </div>


        <!-- 🔥 منوی دسکتاپ (نمایش فقط در دسکتاپ) -->
        <div class="collapse navbar-collapse d-none d-lg-flex justify-content-between pe-5">

            <ul class="navbar-nav gap-4">
                <li><a class="nav-link text-white nav-hover" href="{% url 'home' %}">خانه</a></li>
                <li><a class="nav-link text-white nav-hover" href="{% url 'shop' %}">کتاب ها</a></li>
                <li><a class="nav-link text-white nav-hover" href="#">مقالات</a></li>
                <li><a class="nav-link text-white nav-hover" href="#">درباره ما</a></li>
                <li><a class="nav-link text-white nav-hover" href="#">تماس با ما</a></li>
            </ul>
            <div class="d-flex justify-content-end gap-5" style="width: 25%">

                {% if user.is_authenticated %}
                    <a class="d-block text-zard text text-decoration-none f-3" href="{% url 'cart' %}">
                    سبد خرید
                    <i class="fa-solid fa-basket-shopping"></i>
                    </a>
                    <div class="dropdown">
                        <div class="clickable d-flex gap-4 align-items-center justify-content-between" data-bs-toggle="dropdown"
                             aria-expanded="false">
                            <p class="text-white m-0 f-2"><i class="fa-solid fa-caret-down mx-2"></i>{{ user.first_name }}</p>
                            <img class="circle-border img-fluid w-20" src="{{ user.profile_picture.url }}"
                                 alt="تصویر پروفایل">

                        </div>
                        <ul class="dropdown-menu bg-dark mt-2">
                            <li><a class="dropdown-item text-white nav-hover dropdown-hover-dark" href="{% url 'dashboard' %}">داشبورد</a></li>
                            <li><a class="dropdown-item text-white nav-hover dropdown-hover-dark" href="{% url 'dashboard' %}">پروفایل</a></li>
                            <li><a class="dropdown-item text-white nav-hover dropdown-hover-dark" href="{% url 'logout' %}">خروج</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a class="d-block text-zard text text-decoration-none f-3" href="{% url 'cart' %}">
                    سبد خرید
                    <i class="fa-solid fa-basket-shopping"></i>
                    </a>
                    <a class="btn btn-primary text-white zard" style="width: 100px" href="{% url 'login' %}">ورود</a>
                {% endif %}
            </div>
        </div>

        <!-- 🔥 OFFCANVAS برای موبایل -->
        <div class="offcanvas offcanvas-end bg-dark text-white d-lg-none" id="mobileMenu">

            <div class="offcanvas-header justify-content-between">
                <h5 class="offcanvas-title">منو سایت</h5>
                <button type="button" class="close-offcanvas canvas-close canvas-btn" data-bs-dismiss="offcanvas">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <div class="offcanvas-body d-flex flex-column justify-content-between">

                <ul class="navbar-nav gap-3">
                    <li><a class="nav-link text-white active" href="{% url 'home' %}">خانه</a></li>
                    <li><a class="nav-link text-white" href="#">درباره ما</a></li>
                    <li><a class="nav-link text-white" href="#">تماس با ما</a></li>
                    <li><a class="nav-link text-white" href="#">خدمات</a></li>
                    <li><a class="nav-link text-white" href="#">مقالات</a></li>
                </ul>
                {% if user.is_authenticated %}
                    <div class="d-flex flex-column gap-2 mt-4">
                        <a class="btn btn-primary text-white zard" href="#">پروفایل</a>
                    </div>
                {% else %}

                    <div class="d-flex flex-column gap-2 mt-4">
                        <a class="btn btn-primary text-white zard" href="{% url 'login' %}">ثبت نام/ورود</a>
                    </div>
                {% endif %}

            </div>
        </div>

    </nav>
</header>
